.area-chart{
    background: $col-2;
    border-radius: 5px;
    width:33%;
    margin-right:1%;
    margin-top: 2%;
    padding-top: 5%;
    &:nth-child(3){
        margin-right: 0;
    }

    .custom-tooltip{
        background: $white;
        padding: 3px 10px 0;
        border: 0;
        .label{
            font-size: 0.8rem!important;
        }
    }
}