.area-chart{
    background: $col-2;
    border-radius: 5px;
    width:33%;
    margin-right:1%;
    margin-top: 2%;
    padding-top: 5%;
    position: relative;
    &:nth-child(3){
        margin-right: 0;
    }

    .custom-tooltip{
        background: $white;
        padding: 3px 10px 0;
        border: 0;
        .label{
            font-size: 0.8rem!important;
        }
    }
}

.recharts-area{
    width: 100%!important;
}

.areaTitle{
    color: rgba($color: #fff, $alpha: 0.8);
    font-weight: 500;
    display: block;
    width: 150px;
    position: absolute;
    left: 5%;
    top:6%
}