.bar-charts{
    width:100%;
    height: 300px;

    .recharts-wrapper{
        background: $grey;
    }

    .recharts-legend-item-text{
        font-size: 0.9rem;
        color:$grey-dark!important;
    }
}