.display-cards {
     grid-area: cards;
     padding-right: $gap;
     padding-left: $gap;
     display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 1em;
    
 }

.card-item{
    background: $grey;
    padding:$gap;
    margin-bottom: $gap;
    display: flex;
    align-items: center;
    border-radius: 5px;

    .title-h3{
        font-size: 100%;
    }

    img{
        width: 60px;
        height: 60px;
        float: left;
        margin-right: $gap;
    }
    .text{
        color: $grey-dark;
        font-size: 0.9rem;
    }
}

