.card-item{
    background: $grey;
    padding:$gap;
    margin-bottom: $gap;
    display: flex;
    align-items: center;

    .title-h3{
        font-size: 1.15rem;
    }

    img{
        width: 60px;
        height: 60px;
        float: left;
        margin-right: $gap;
    }
}