.main-content{
    padding: $gap*3 $gap $gap*3 $gap*3;
    grid-area: content;
    h1{
        font-size: 2.7rem;
        span{
            color:$col-2;
        }
    }
}

.data-display{
    display: grid; 
    grid-template-columns: 1.6fr 0.4fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "charts cards"; 
}

.display-charts { 
    grid-area: charts;
    padding:$gap 0;
}


.bottom-charts{
    display: flex;
    width: 1020px;
    div{
      
    }
}