.main-content{
    padding: $gap*1.15 $gap $gap*3 $gap*1.2;
    grid-area: content;
    
    h1{
        font-size: 2.7rem;
        span{
            color:$col-2;
        }
    }
}

.data-display{
    display: grid; 
    grid-template-columns: 80% 20%; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "charts cards"; 
}

.display-charts { 
    grid-area: charts;
    padding:$gap 0;
    .loading{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


.bottom-charts{
    display: flex;
    width: 100%; 
}

