.radial-chart{
    background: $grey;
    border-radius: 5px;
    width:33%;
    margin-top: 2%;
    margin-right: 0;
  
}

.progress-label{
   font-size: 1.8rem;
   font-weight: 700;
   color:$col-1;
}
.progress-label-text{
    font-size: 1rem;
}