body{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: $col-1;
}

.title-h3,
h1,h2,h3,h4{
    font-family: 'Roboto', sans-serif;
    color: $col-1;
    font-weight: 700;
}

.main{
    display: grid; 
    grid-template-columns: 117px 1.7fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "aside content"; 
}



